app/__pycache__/database.cpython-39.pyc
app/__pycache__/dependencies.cpython-39.pyc
app/__pycache__/main.cpython-39.pyc
.gitignore
app/routers/__pycache__/__init__.cpython-39.pyc
app/routers/__pycache__/users.cpython-39.pyc
app/models/UserModel/__pycache__/__init__.cpython-39.pyc
app/models/UserModel/__pycache__/crud.cpython-39.pyc
app/models/UserModel/__pycache__/models.cpython-39.pyc
app/models/UserModel/__pycache__/schemas.cpython-39.pyc
app/venv/*
app/models/__pycache__/__init__.cpython-39.pyc
app/models/ACSocketStateModel/__pycache__/__init__.cpython-39.pyc
app/models/ACSocketStateModel/__pycache__/crud.cpython-39.pyc
app/models/ACSocketStateModel/__pycache__/models.cpython-39.pyc
app/models/ACSocketStateModel/__pycache__/schemas.cpython-39.pyc
app/models/LedStripeModel/__pycache__/__init__.cpython-39.pyc
app/models/LedStripeModel/__pycache__/crud.cpython-39.pyc
app/models/LedStripeModel/__pycache__/models.cpython-39.pyc
app/models/LedStripeModel/__pycache__/schemas.cpython-39.pyc
app/models/LightSocketModel/__pycache__/__init__.cpython-39.pyc
app/models/LightSocketModel/__pycache__/crud.cpython-39.pyc
app/models/LightSocketModel/__pycache__/models.cpython-39.pyc
app/models/LightSocketModel/__pycache__/schemas.cpython-39.pyc
app/models/TempHumidModel/__pycache__/__init__.cpython-39.pyc
app/models/TempHumidModel/__pycache__/crud.cpython-39.pyc
app/models/TempHumidModel/__pycache__/models.cpython-39.pyc
app/models/TempHumidModel/__pycache__/schemas.cpython-39.pyc
app/routers/__pycache__/acSocket.cpython-39.pyc
app/routers/__pycache__/devices.cpython-39.pyc
app/routers/__pycache__/ledStripe.cpython-39.pyc
app/routers/__pycache__/lightSocket.cpython-39.pyc
app/routers/__pycache__/temphumid.cpython-39.pyc
app/.deta/*
app/.deta/*
app/.deta/prog_info
app/.deta/state
app/.deta/prog_info
app/.deta/state
